body { 
    /* background: #111c27;  */
    /* font: 14px/1.6 "Open Sans",Helvetica,Arial,sans-serif;  */
    color: #697279;
}
  
.wrap{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
  }

  .section-title h1{
      margin: 0;
      line-height: 50px;
      letter-spacing: 5px;
      font-weight: 600;
      color: white;
  }.border{
    display: block;
    height: 10px;
    margin-bottom: 40px;
    width: 100px;
    background: #ED5565;
  }
  .row{
    width: 50%;
    min-height: 1px;
    position: relative;
    display: inline-block;
  }.row ul {
    margin: 0 20px 0 0 !important;
    text-align: left !important;
    padding: 0;
  }.row ul li{
    list-style: none !important;
    
  }.row ul li em{
    display: block;
    margin-bottom: 15px;
    color: white;
  }.row ul li div{
    margin-bottom: 35px;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background: #09131B;
    height: 42px;
    overflow: hidden;
  }.row ul li div span{
    height: 42px;
    width: 50%;
    display: block;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
  }
  .row ul li.java div span { background: #E13C4C; width: 80%; }
  .row ul li.python div span { background: #ffdb43; width: 80%; }
  .row ul li.terraform div span { background: #9D2027; width: 70%; }
  .row ul li.sql div span { background: #3498db; width: 70%; }
  .row ul li.aws div span { background: #2ecc71; width: 80%; }
  .row ul li.javascript div span { background: #A94034; width: 70%; }
  .row ul li.streamlit div span { background: #FF8137; width: 60%; }
  .row ul li.git div span { width: 80%; background: #0CBFB3; }
  .row ul li.problem-solving div span { width: 70%; background: #9E9764; }
  .row ul li.teamwork div span { width: 90%; background: #20603D; }

  
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

  .wrap:after {
    content: "";
    display: table;
    clear: both;
  }

  
  